<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <div id="app">
    </br>
      <div class="login">
        <div class="tabs is-medium">
          <ul>
            <li class="is-active"><a>Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><fb:login-button scope="email, public_profile" onlogin="checkLoginState();"></li>
          </ul>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            <label class="label">Username</label>
          </div>
          <div class="column">
            <input class="input" type="text" placeholder="Text input" v-model="username">
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
            <label class="label">Password</label>
          </div>
          <div class="column">
            <input class="input" type="password" placeholder="Text input" v-model="password">
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-quarter">
          </div>
          <div class="column">
            <a class="button is-info" @click="loginLocal">Login</a>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1188694054574729',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
    FB.getLoginStatus(function(response) {
      // console.log(response);
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }
    function statusChangeCallback(response) {
      if (response.status === 'connected') {
        FB.api('/me', {fields: 'first_name, name, email'}, function (apiResponse) {
          let url = 'http://localhost:3000/users/signinfb';
          let body = {
            id: apiResponse.id,
            email: apiResponse.email,
            first_name:apiResponse.first_name,
            last_name:apiResponse.name,
            token: response.authResponse.accessToken
          }
          axios.post(url, body)
            .then((res) => {
              localStorage.setItem('token', res.data) //result.data adalah TOKEN
              window.location.href = '/'
            })
            .catch((err) => {
              console.log('tidak berhasil');
              console.log(err);
            });
        });
      } else {
        // The person is not logged into your app or we are unable to tell.
        document.getElementById('status').innerHTML = 'Please log ' +
          'into this app.';
      }
    }
    var app = new Vue({
      el:'#app',
      data:{
        username:'',
        password:''
      },
      methods:{
        loginLocal:function(){
          axios.post('http://localhost:3000/users/signin',{
            username:this.username,
            password:this.password
          })
          .then((result)=>{
            if(result.data.token == null){
              console.log('token',result.data.message);
            }
            else {
              localStorage.setItem('token', result.data.token)
              window.location.href = '/'
            }
          })
          .catch((err)=>{
            console.log(err);
          })
        }
      },
      created:function(){
        let self = this
        if(localStorage.getItem('token') != null){
          window.location.href = '/'
        }
      }
    })
  </script>
</html>
